// @import "../abstracts/variables";

.projects {
  grid-row: 2 / 3;
  align-self: center;
  &__list {
  }

  &__items {
    font-size: 3.5rem;
    font-weight: 500;
    list-style: none;
    line-height: 1.7;
  }

  &__links:link,
  &__links:visited {
    color: $color-primary;
    text-decoration: none;
  }
}

.navigation {
  align-self: start;
  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__items {
    font-size: 2.5rem;
    list-style: none;
  }

  &__links:link,
  &__links:visited {
    color: $color-primary;
    text-decoration: none;
  }
}

.placeholder {
  grid-row: 3 / 4;
}
